<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Read email</title>
    <link rel="stylesheet" href="/static/css/reset.css" media="all" type="text/css">
    <link rel="stylesheet" href="/static/css/buttons.css" media="all" type="text/css">
    <link rel="stylesheet" href="/static/css/stylesheet.css" media="all" type="text/css">
    <script src="http://use.edgefonts.net/open-sans:n7,i7,n8,i8,i4,n3,i3,n4,n6,i6:all.js"></script>
</head>
<body>
    <div id="container">
        <header class="shadow">
            <h1>{{ mail.subject }}</h1>
        </header>
        <nav class="shadow">
            <div class="composeemail">
                <a href="/compose/" class="btn green">Compose</a>
            </div>
            <ul>
                <li><a href="#logout">Settings</a></li>
                <li><a href="/email/logoff">Logout</a></li>
            </ul>
            <br style="clear:both;">
        </nav>
        <div id="content">
            <div id="left">
                <div id="emailfiles" class="shadow content mbottom">
                    <h1>Email attachments</h1>
                    <ul>
                        <li class="pdf"><a href="">filename1.pdf</a></li>
                        <li class="mp3"><a href="">song.mp3</a></li>
                    </ul>
                </div>
                <div class="shadow content">
                    <h1>Folders</h1>
                    <ul class="emailmenu">
                        <li><a href="/inbox">Inbox</a></li>
                        <li><a href="/sent">Sent</a></li>
                        <li><a href="/drafts">Drafts</a></li>
                        <li><a href="/agenda">Contact list</a></li>
                    </ul>
                </div>
            </div>
            <div id="right">
                <div class="shadow content mbottom">
                    <div id="emailheader">
                        <h1>{{ mail.subject }}</h1>
                        <h4 style="margin-top:5px;">{{ mail.date }}</h4>
                    </div>
                </div>
                <div class="shadow content mbottom">
                    <div class="emailbuttons">
                        <button class="btn white">Previous email</button>
                        <a href="/reply/?id_email={{ id_email }}" class="btn white">Reply</a>
                        <button class="btn white">Reply all</button>
                        <button class="btn white">Forward</button>
                        <button class="btn white">Next email</button>
                    </div>
                </div>
                <div class="shadow content mbottom">
                    <div id="sender">
                        <span>FROM:</span>
                        <span class="emailsender">{{ email }}</span>
                        <span class="moredetails"><a href="#">More details</a></span>
                        <br style="clear:both;">
                    </div>
                </div>
                <div class="shadow content mbottom">
                    <div id="emailbody">
                        <p>{{ body }}</p>
                    </div>
                </div>
                <div class="shadow content mbottom">
                    <div class="emailbuttons">
                        <button class="btn white">Previous email</button>
                        <a href="/reply/?id_email={{ id_email }}" class="btn white">Reply</a>
                        <button class="btn white">Reply all</button>
                        <button class="btn white">Forward</button>
                        <button class="btn white">Next email</button>
                    </div>
                </div>
            </div>
            <br style="clear:both;">
        </div>
        <footer class="shadow">
            <p class="content">Aplicatii Web. Tema1 &copy; 2013</p>
        </footer>
    </div>
</body>
</html>
