* {
    outline:none;
}

body {
    font-family: open-sans;
    font-size: 12px;
    background-color: #efeded;
    margin-bottom: 100px;
}


#login {
    width:300px;
    height:100px;
    margin:auto;
    margin-top:100px;
}

#login table {
    width:200px;
}

header h1 {
    margin:10px 0px 10px 0px;
    padding:10px 10px 10px 10px;
    font-size: 20px;
}

.composeemail {
    padding:10px;
    float:left;
}

nav ul {
    text-align:right;
    float:right;
    padding:19px 10px 10px 10px;
}

nav ul li {
    display:inline;
}

nav ul li:after {
    content: " • ";
    color: #ccc;
}

nav ul li:last-child:after {
    content: "";
}

nav ul li a {
    text-decoration:none;
    color: #00a500;
}

nav ul li a:hover {
    text-decoration:underline;
}

#container {
    width:800px;
    margin:auto;
}

#content {
    margin-top:10px;
}

#left {
    width:230px;
    float:left;
    margin-right:10px;
}

#left .floatleft {
    float:left;
}

#left .emailmenu {
    margin-top:10px;
    list-style: none;
}

#left .emailmenu li:last-child a {
    margin-bottom:0px;
}

#left .emailmenu li a {
    text-decoration:none;
    display:block;
    padding:5px 5px 5px 5px;
    margin-bottom:5px;
    color:#000000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#left .emailmenu li a:hover {
    background-color:#00a500;
    color:#ffffff;
}

#right {
    width:560px;
    float:left;
}

#emails {
    margin-top:5px;
}

#emails .email {
    padding:5px 0px 5px 0px;
}

#emails :last-child {
    -moz-border-radius-bottomright:3px;
    border-bottom-right-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius: 3px;
}

#emails :first-child {
    -moz-border-radius-topright:3px;
    border-top-right-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius: 3px;
}

#emails .email .checkbox {
    margin-right:10px;
    display:block;
    float:left;
}
#emails .email .checkbox input {
    cursor:pointer;
}


#emails .email .subject {
    font-weight:bold;
    padding-top:3px;
    width:220px;
    display:block;
    float:left;
}

#emails .email .subject a {
    color: inherit;
    text-decoration:none;
}

#emails .email .email_sender {
    width:220px;
    padding-top:3px;
    display:block;
    float:left;
    cursor:default;
}

#emails .email .date_recieved {
    text-align:right;
    color:#8b8b8b;
    width:67px;
    padding-top:3px;
    padding-right: 3px;
    display:block;
    float:left;
    cursor:default;
}

#emails .email.selected {
    background-color:rgba(0, 165, 0, 0.18);
}

#emails .email .read {
    font-weight:normal;
}

footer {
    margin-top:10px;
}

footer p {
    text-align:right;
    cursor:default;
}

#emailheader h1 {
    font-size: 21px;
}

#sender .emailsender {
    font-weight:bold;
}

#sender .moredetails {
    float:right;
}

#sender a {
    text-decoration:none;
    color: #00a500;
}

#sender a:hover {
    text-decoration:underline;
}

#emailbody p {
    line-height:1.4em;
    text-indent:2em;
    text-align:justify;
}

.emailbuttons {
    text-align:center;
}

#emailfiles ul {
    margin-left:10px;
}

#emailfiles ul li {
    list-style: none;
    padding:5px 0px 10px 25px;
}

#emailfiles ul li.pdf {
    background-image:url(../img/icons/pdf.png);
    background-repeat:no-repeat;
    background-position:left;
}

#emailfiles ul li.mp3 {
    background-image:url(../img/icons/mp3.png);
    background-repeat:no-repeat;
    background-position:left;
}

#emailfiles a {
    text-decoration:none;
    color: #0000a5;
}

#emailfiles a:hover {
    text-decoration:underline;
}


#emailfiles h1 {
    margin-bottom:10px;
}

#sendheader input[type="text"] {
    width:450px;
}

#sendheader table tr .text {
    width:100px;
}

#sendemailfiles select {
    width:210px;
    background:none;
}

#sendemailfiles h1 {
    margin-bottom:10px;
}

#contactlist h1 {
    margin-bottom: 10px;
}

#contactlist .addselectto {
    margin-top:10px;
    text-align:center;
}

#contacts {
    margin-top:5px;
}

#contacts .contact .checkbox {
    float:left;
    width:20px;
    padding:5px 5px 5px 5px;
}

#contacts .contact .checkbox input:hover {
    cursor:pointer;
}

#contacts .contact .contactinfo {
    float:left;
    width:180px;
    padding:5px 0px 5px 0px;
}

#contacts .contact .name {
    margin-bottom:3px;
    display:block;
}

#contacts .contact .email {
    color:#868686;
}

#contacts .contact .name a {
    color:#0000a5;
    text-decoration:none;
}

#contacts .contact .name a:hover {
    color:#0000a5;
    text-decoration:underline;
}

/* Elemente comune */

.content {
    padding:10px 10px 10px 10px;
}

.mbottom {
    margin-bottom:10px;
}

.shadow {
    background-color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

button, select {
    cursor:pointer;
}

input, textarea {
    padding:5px 5px 5px 5px;
    border:1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input:focus, textarea:focus {
    border:1px solid #00a500;
}

select {
    z-index:5;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding:6px 30px 6px 2px;
    border:1px solid #ccc;
    background:url(../img/arrow-down2.png);
    background-position:right;
    background-repeat:no-repeat;
    font-size: 12px;
}

select:focus {
    border:1px solid #00a500;
}


